In [2]:
import multiscale.polarimetry.task_scripts.data_analysis as dan
from pathlib import Path
import pandas as pd
import numpy as np

In [3]:
path_shg = Path(r'F:\Research\Polarimetry\Data 04 - Analysis results and graphics', 'Curve-Align_ROIs.csv')
path_average = Path(r'F:\Research\Polarimetry\Data 04 - Analysis results and graphics',
                            'ROIs_averaged_from_base_image_old.csv')
path_fibs = Path(r'F:\Research\Polarimetry\Data 04 - Analysis results and graphics\Curve Align',
                         'CA_FibNum_SHG.csv')
ret_thresh = 0.5

In [4]:
df_corrs_orient, df_corrs_align, df_corrs_ret = dan.run_roi_averages_comparison(ret_thresh)

In [5]:
df_corrs_orient

,Corr_MHR-O-MLR-O,n_MHR-O-MLR-O,Corr_MHR-O-PS-O,n_MHR-O-PS-O,Corr_MHR-O-SHG,n_MHR-O-SHG,Corr_MLR-O-PS-O,n_MLR-O-PS-O,Corr_MLR-O-SHG,n_MLR-O-SHG,Corr_PS-O-SHG,n_PS-O-SHG
"('1045', 'M1')",0.928279,5610.0,NaN,NaN,-0.155119,8180.0,NaN,NaN,-0.224075,5760.0,NaN,NaN
"('1046', 'M3')",0.056164,5864.0,NaN,NaN,-0.080916,14403.0,NaN,NaN,0.208361,4863.0,NaN,NaN
"('1046', 'P3')",-0.381754,3631.0,NaN,NaN,-0.220490,10283.0,NaN,NaN,0.316426,4223.0,NaN,NaN
"('1046', 'P5')",0.492441,3780.0,NaN,NaN,0.084430,8554.0,NaN,NaN,0.145108,3648.0,NaN,NaN
"('1047', '3')",0.258174,8884.0,NaN,NaN,0.013705,13461.0,NaN,NaN,0.120628,12155.0,NaN,NaN
"('1047', '5')",0.705826,7757.0,NaN,NaN,0.129705,14653.0,NaN,NaN,0.295877,7275.0,NaN,NaN
"('1047', '7')",0.616040,5958.0,NaN,NaN,0.227529,8583.0,NaN,NaN,0.033506,7367.0,NaN,NaN
"('1054', '1')",0.439988,15603.0,NaN,NaN,0.280685,13044.0,NaN,NaN,0.145452,15282.0,NaN,NaN
"('1054', '3')",0.905314,8830.0,NaN,NaN,0.456408,10710.0,NaN,NaN,0.363930,8199.0,NaN,NaN
"('1054', '5')",0.860080,10469.0,NaN,NaN,0.551478,8695.0,NaN,NaN,0.530395,7649.0,NaN,NaN
"('1057', '1')",0.945864,9964.0,NaN,NaN,0.503621,11461.0,NaN,NaN,0.524250,8580.0,NaN,NaN
"('1367', '5')",0.928374,34120.0,NaN,NaN,0.118843,18978.0,NaN,NaN,0.161087,19570.0,NaN,NaN
"('1367', '7')",0.471589,16388.0,NaN,NaN,0.145824,20179.0,NaN,NaN,-0.014028,12926.0,NaN,NaN
"('2944', 'E1')",0.880860,1462.0,NaN,NaN,0.233909,2102.0,NaN,NaN,0.200314,2017.0,NaN,NaN
"('2944', 'M1')",0.755916,13171.0,NaN,NaN,-0.279833,25640.0,NaN,NaN,-0.102172,14076.0,NaN,NaN
"('2944', 'M3')",0.104363,71199.0,NaN,NaN,-0.135229,34269.0,NaN,NaN,-0.106505,35669.0,NaN,NaN
"('2944', 'M7')",0.447496,10939.0,NaN,NaN,NaN,NaN,NaN,NaN,0.093814,101.0,NaN,NaN
"('WP', '9')",-0.002933,7292.0,-0.055602,7740.0,0.017100,10012.0,-0.006711,8468.0,-0.001399,10311.0,0.190392,12229.0
"('WT1', '1')",0.091229,1054.0,NaN,NaN,-0.030341,2872.0,NaN,NaN,-0.245842,1999.0,NaN,NaN
"('WT1', '3')",0.832072,3226.0,NaN,NaN,0.113849,7106.0,NaN,NaN,0.207235,4379.0,NaN,NaN
"('WP', '2')",NaN,NaN,-0.283193,4783.0,-0.029904,5967.0,NaN,NaN,NaN,NaN,0.168535,4941.0
"('WP', '4')",NaN,NaN,0.392714,3754.0,0.125455,4179.0,NaN,NaN,NaN,NaN,0.367723,4833.0
"('WP', '5')",NaN,NaN,0.011531,4215.0,-0.063442,5449.0,NaN,NaN,NaN,NaN,-0.013569,8492.0
"('1045', 'M7')",NaN,NaN,NaN,NaN,-0.210210,30632.0,NaN,NaN,NaN,NaN,NaN,NaN
"('1057', '3')",NaN,NaN,NaN,NaN,0.418022,17461.0,NaN,NaN,NaN,NaN,NaN,NaN
"('1057', '5')",NaN,NaN,NaN,NaN,0.613268,5681.0,NaN,NaN,NaN,NaN,NaN,NaN
"('1061', '1')",NaN,NaN,NaN,NaN,0.402099,6545.0,NaN,NaN,NaN,NaN,NaN,NaN
"('1064', '1')",NaN,NaN,NaN,NaN,-0.161859,3739.0,NaN,NaN,NaN,NaN,NaN,NaN
"('1367', '1')",NaN,NaN,NaN,NaN,-0.020488,12456.0,NaN,NaN,NaN,NaN,NaN,NaN
"('2944', 'E7')",NaN,NaN,NaN,NaN,0.026563,15587.0,NaN,NaN,NaN,NaN,NaN,NaN
"('WT1', '7')",NaN,NaN,NaN,NaN,-0.077796,24853.0,NaN,NaN,NaN,NaN,NaN,NaN
"('1367', '3')",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.027975,5795.0,NaN,NaN

In [6]:
df_shg = pd.read_csv(path_shg, header=[0, 1], index_col=[0, 1, 2, 3], low_memory=False)
        
df_average = pd.read_csv(path_average, header=[0, 1], index_col=[0, 1, 2, 3],
                                 low_memory=False)

C:\Users\mpinkert\AppData\Local\Continuum\anaconda3\envs\pyimagej\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [18]:
df_thresh = df_average.loc[:, 'Orientation'].copy()
df_orient = df_thresh[mask]
df_final = df_orient.join(df_shg['Orientation'])

In [19]:
df_average['Orientation','MLR'].dropna()

Mouse  Slide  Tile   ROI
1045   M1     0x-0y  ROI0x0y     52.630011
                     ROI0x1y     56.683852
                     ROI0x2y     49.099054
                     ROI0x3y     40.187182
                     ROI0x4y     60.532573
                     ROI0x5y     56.466547
                     ROI0x6y     61.913196
                     ROI0x7y     47.630496
                     ROI1x0y     54.682558
                     ROI1x1y     54.431851
                     ROI1x2y     45.356332
                     ROI1x3y     44.251231
                     ROI1x4y     45.182198
                     ROI1x5y     47.633177
                     ROI1x6y     54.786909
                     ROI1x7y     57.712548
                     ROI2x0y     55.456233
                     ROI2x1y     42.612848
                     ROI2x2y     31.221074
                     ROI2x3y     36.160337
                     ROI2x4y     48.261995
                     ROI2x5y     62.158110
                     ROI2x6y     29.135079
                     ROI2x7y     41.217418
                     ROI3x0y     63.322854
                     ROI3x1y     74.980307
                     ROI3x2y     38.655728
                     ROI3x3y     43.856983
                     ROI3x4y     41.610273
                     ROI3x5y     60.076508
                                   ...
1057   1      9x-9y  ROI3x5y     48.905809
                     ROI4x0y     19.798530
                     ROI4x1y     74.952342
                     ROI4x2y     79.285441
                     ROI4x3y     84.137989
                     ROI4x6y     40.979134
                     ROI4x7y     87.963494
                     ROI5x0y     83.172628
                     ROI5x1y     84.544899
                     ROI5x3y     15.075145
                     ROI5x4y     76.833455
                     ROI5x5y     17.278719
                     ROI5x6y     14.063072
                     ROI5x7y      4.503111
                     ROI6x0y     74.531237
                     ROI6x1y     25.070263
                     ROI6x2y    174.415805
                     ROI6x3y    172.572702
                     ROI6x4y    173.316847
                     ROI6x5y    172.898763
                     ROI6x6y    177.339631
                     ROI6x7y      3.916177
                     ROI7x0y    176.040136
                     ROI7x1y    177.261577
                     ROI7x2y    175.487489
                     ROI7x3y    178.791201
                     ROI7x4y      8.091392
                     ROI7x5y     27.319093
                     ROI7x6y    172.982767
                     ROI7x7y     27.815671
Name: (Orientation, MLR), Length: 750597, dtype: float64